*{
  padding: 0;
  margin: 0;
}


#page-1{
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  padding: 4rem 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-image: url('./Images/background-1.png');
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 2rem;

}



navbar{
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}



#sync-logo{
  width: 6rem;
  height: auto;
}

#page-1-left, #page-1-right{
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  flex-grow: 1;
  gap: 2rem;
}



#text-top{
  font-weight: 400;
  font-size: 1.5rem;
}

#text-top span{
  font-weight: 600;
}

#text-mid{
  font-size: 2.5rem;
  color: #330000;
  font-weight: 600;
}

#text-mid span{
  color: #0059B8;
}

#text-bottom{
  font-size: 1.5rem;
  font-weight: 500;
}

#page-1-left-mid{
  display: flex;
  gap: 1rem;
  align-items: center;
}

#page-1-left-mid a{
  color: #0A0F15;
}

#book-cta{
  padding: 1rem 2rem;
  background-color: #F8B41F;
  color: #0A0F15;
  border-radius: 0.5rem;
  border: none;
}

.mini-doc{
  width: 3rem;
  border-radius: 50%;
}

.doctors{
  flex-basis: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.doctor-card{
  flex-basis: 40%;
  display: flex;
  background-color: #FFE5D0;
  padding: 1rem;
  border-radius: 10%;
  justify-content: space-between;
}

.doctor-left{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.doctor-link{
  display: block;
  align-self: flex-end;
}

.doc-icon{
  width: 8rem;
  height: auto;
}

.doc-name{
  font-size: 1rem;
  color: #330000;
  font-weight: 500;
}

.doc-specialization{
  font-size: 0.75rem;
}